# Voltask Configuration
VOLTASK_PORT=5003
VOLTASK_HOST_URL=http://localhost:5003
VOLTASK_WEBHOOK_URL=http://localhost:5003
VOLTASK_PLUGINS_BUN_PORT=8004
VOLTASK_PLUGINS_DENO_PORT=8002
VOLTASK_ORCHESTRATOR_PORT=5005
VOLTASK_PREMISE_USER_EMAIL=admin@voltask.tech
VOLTASK_PREMISE_USER_PASSWORD=changeme
CELESTORY_AUTH_URL=http://auth
CELESTORY_AUTH_CLIENT_ID=self_hosted_client
CELESTORY_AUTH_CLIENT_SECRET=self_hosted_secret
CELESTORY_AUTH_AUDIENCE=self_hosted

# Ports
FRONTEND_PORT=3000
HUB_PORT=3001
ORIGIN=http://localhost:${FRONTEND_PORT}
HUB_ORIGIN=http://localhost:${HUB_PORT}

# Auth Configuration
AUTH_CLIENT_ID=self_hosted_client
AUTH_CLIENT_SECRET=self_hosted_secret
AUTH_AUDIENCE=self_hosted
AUTH_AUTHORITY_SECRET=celestory_auth_secret

# Database Configuration
DB_USERNAME=postgres
DB_PASSWORD=database_password_123
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=postgres

# Admin Configuration
ADMIN_USERNAME=admin@example.com
ADMIN_PASSWORD=password